.Me {
  background-color: darkgray;
  margin-left: 3rem;
  overflow: hidden;
  width: calc(100% - 3rem);
}

.Me__portrait__block {
  height: 100vh;
}

.Me__portrait {
  opacity: .4;
  width: 100%;
}

.Me__portrait__gradient {
  background: linear-gradient(to top, rgb(255, 255, 255) 0%, rgba(255,255,255,0.83) 60%, rgba(255,255,255,0) 100%);
  bottom: 0;
  height: 50vh;
  position: absolute;
  width: calc(100% - 3rem);
  z-index: 1;
}